@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Management System</h1>
</div>
<br />
<br />

<div class="container-fluid text-center">
        <h4>Add Employee</h4><br/>
        <h4>View Employees</h4><br/>
        <h4>Edit Employee</h4><br/>
        <h4>Delete Employee</h4>
</div>